/* Initialisation */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

:root {
    --background: #242124;
    --background-light: #464046;
    --background-dark:#3B373B;
    --background-darker:#050505;

    --text: #fefefa;
    --accent: #68fe9a;
    --accent-darker:#34FE77 ;
    --danger:#ef233c;
    --confirmation:#6096BA;
    --attention:#f2bb05;

    --gold:#FFD700;
    --silver:#C0C0C0;
    --bronze:#CD7F32;

    --Red-Bull: #3671C6;
    --Mercedes:#6CD3BF;
    --Aston-Martin:#358C75;
    --Ferrari:#F91536;
    --Mclaren:#F58020;
    --Alpine:#2293D1;
    --Hass:#B6BABD;
    --Alfa-Romeo:#C92D4B;
    --AlphaTauri:#5E8FAA;
    --Williams:#37BEDD;
    --Stake-F1:#00EC00;
    --Visa-RB:#1634CE;


    --card-shadow:0px 0px 30px -5px #000;
    --header-height: 12rem;
    --footer-heaght: 16rem;

}



body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Golos Text", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* Header */

header {
    flex: 0 0 var(--header-height);
    top: 0px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--header-height);
    z-index: 1;
    background-color: var(--background);

}

header a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}



#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent);
    min-width: 260px;
    justify-self: center;
}

#title h2 {
    font-weight: 400;
    font-size: 36px;
}
#title h2:last-child {
    text-decoration: underline;
}

.nav-links {
    mix-blend-mode: difference;
    font-size: 20px;
}

.nav-links:hover {
    text-decoration: underline var(--accent);
}
.hamburger{
    display: none;
}
@media screen and (max-width: 800px) {
    .nav-links{
        display: none;
    }
header{
    justify-content: center;
    position: relative;
    padding: 1em;
}

    .hamburger{
        display:grid;
        top: 1em;
        place-items: center;
        position: absolute;
        right: 1em;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        height: 55px;
        aspect-ratio: 1/1;
        z-index: 2;
    }
    .open-hamburger{
        position: fixed;
    }

    .hamburger-main{
        width: 35px;
        height: 2px;
        background-color: var(--text);

        position: relative;

    }
    .hamburger-main::after{
        position: absolute;
        background-color: inherit;
        content: "";
        top: 10px;
        width: inherit;
        height: inherit;
        left: 0px;
        z-index: 10;
    }

    .hamburger:hover .hamburger-main{
        background-color: var(--accent);
    }


    .open-hamburger .hamburger-main {
        animation: open-hamburgerTop forwards 1s;
    }

    .closed-hamburger .hamburger-main {
        animation: close-hamburgerTop forwards 1s;
    }

  }

/* Color by teams */

.team_1--text{
    color: var(--Ferrari);
}

.team_1--background{
    background-color: var(--Ferrari);
}

.team_1--fill{
    fill: var(--Ferrari);
}
.team_1--border{
    border: solid 2px var(--Ferrari);
    box-shadow: 0px 0px 3rem 0px var(--Ferrari) ;
    transition: .5s;
}

.team_1--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Ferrari) ;
}
.team_1--textStoke{
    -webkit-text-stroke:.2rem var(--Ferrari); ;
}

.team_2--text{
    color: var(--Red-Bull);
}

.team_2--background{
    background-color: var(--Red-Bull);
}

.team_2--fill{
    fill: var(--Red-Bull);
}

.team_2--border{
    border: solid 2px var(--Red-Bull);

    box-shadow: 0px 0px 3rem 0px var(--Red-Bull) ;
}

.team_2--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Red-Bull) ;
}
.team_2--textStoke{
    -webkit-text-stroke:.2rem var(--Red-Bull); ;
}

.team_3--text{
    color: var(--Aston-Martin);
}

.team_3--background{

    background-color: var(--Aston-Martin);
}

.team_3--fill{
    fill: var(--Aston-Martin);
}
.team_3--border{

    border: solid 2px var(--Aston-Martin);

    box-shadow: 0px 0px 3rem 0px var(--Aston-Martin) ;
}
.team_3--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Aston-Martin) ;
}
.team_3--textStoke{
    -webkit-text-stroke:.2rem var(--Aston-Martin); ;
}

.team_4--text{
    color: var(--Mercedes);
}

.team_4--background{
    background-color: var(--Mercedes);
}

.team_4--fill{
    fill: var(--Mercedes);
}

.team_4--border{
    border: solid 2px var(--Mercedes);

    box-shadow: 0px 0px 3rem 0px var(--Mercedes) ;
}
.team_4--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Mercedes) ;
}
.team_4--textStoke{
    -webkit-text-stroke:.2rem var(--Mercedes); ;
}

.team_5--text{
    color: var(--Alfa-Romeo);
}

.team_5--background{
    background-color: var(--Alfa-Romeo);
}

.team_5--fill{
    fill: var(--Alfa-Romeo);
}
.team_5--border{
    border: solid 2px var(--Alfa-Romeo);

    box-shadow: 0px 0px 3rem 0px var(--Alfa-Romeo) ;
}
.team_5--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Alfa-Romeo) ;
}
.team_5--textStoke{
    -webkit-text-stroke:.2rem var(--Alfa-Romeo); ;
}

.team_6--text{
    color: var(--Alpine);
}

.team_6--background{
    background-color: var(--Alpine);
}

.team_6--fill{
    fill: var(--Alpine);
}
.team_6--border{
    border: solid 2px var(--Alpine);

    box-shadow: 0px 0px 3rem 0px var(--Alpine) ;
}
.team_6--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Alpine) ;
}

.team_6--textStoke{
    -webkit-text-stroke:.2rem var(--Alpine); ;
}




.team_7--text{
    color: var(--Williams);
}

.team_7--background{
    background-color: var(--Williams);
}

.team_7--fill{
    fill: var(--Williams);
}
.team_7--border{
    border: solid 2px var(--Williams);


    box-shadow: 0px 0px 3rem 0px var(--Williams) ;
}
.team_7--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Williams) ;
}

.team_7--textStoke{
    -webkit-text-stroke:.2rem var(--Williams); ;
}
.team_8--text{
    color: var(--AlphaTauri);
}

.team_8--background{
    background-color: var(--AlphaTauri);
}

.team_8--fill{
    fill: var(--AlphaTauri);
}
.team_8--border{
    border: solid 2px var(--AlphaTauri);

    box-shadow: 0px 0px 3rem 0px var(--AlphaTauri) ;
}
.team_8--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--AlphaTauri) ;
}
.team_8--textStoke{
    -webkit-text-stroke:.2rem var(--AlphaTauri); ;
}
.team_9--text{
    color: var(--Hass);
}

.team_9--background{
    background-color: var(--Hass);
}

.team_9--fill{
    fill: var(--Hass);
}
.team_9--border{
    border: solid 2px var(--Hass);

    box-shadow: 0px 0px 3rem 0px var(--Hass) ;
}
.team_9--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Hass) ;
}
.team_9--textStoke{
    -webkit-text-stroke:.2rem var(--Hass); ;
}
.team_10--text{
    color: var(--Mclaren);
}

.team_10--background{
    background-color: var(--Mclaren);
}

.team_10--fill{
    fill: var(--Mclaren);
}
.team_10--border{
    border: solid 2px var(--Mclaren);

    box-shadow: 0px 0px 3rem 0px var(--Mclaren) ;
}
.team_10--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Mclaren) ;
}
.team_10--textStoke{
    -webkit-text-stroke:.2rem var(--Mclaren); ;
}
.team_11--text{
    color: var(--Stake-F1);
}

.team_11--background{
    background-color: var(--Stake-F1);
}

.team_11--fill{
    fill: var(--Stake-F1);
}
.team_11--border{
    border: solid 2px var(--Stake-F1);

    box-shadow: 0px 0px 3rem 0px var(--Stake-F1) ;
}
.team_11--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Stake-F1) ;
}
.team_11--textStoke{
    -webkit-text-stroke:.2rem var(--Stake-F1); ;
}
.team_11--text{
    color: var(--Stake-F1);
}

.team_11--background{
    background-color: var(--Stake-F1);
}

.team_12--fill{
    fill: var(--Visa-RB);
}
.team_12--border{
    border: solid 2px var(--Visa-RB);

    box-shadow: 0px 0px 3rem 0px var(--Visa-RB) ;
}
.team_12--border:hover{
    box-shadow: 0px 0px 3rem 5px var(--Visa-RB) ;
}
.team_12--textStoke{
    -webkit-text-stroke:.2rem var(--Visa-RB); ;
}




/* main */

main {
    flex: 1 1 auto;
}
.top-left{
    position: absolute;
    top: -2.5vw;
    left: .5em;
    color: var(--accent);
    font-size: 5vw;
    font-weight: 700;
}

/* News and top 3 */

#News-Top3 {
    display: flex;
    padding: 2em 3em;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

/* News */

.top-news  {
    background-color: var(--background-light);
    position: relative;
    flex: 3;
    padding: 0.5em;
    border-radius: 15px;
    aspect-ratio: 16/9;
    flex-shrink: 0;
    min-width: 1000px;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    color: var(--text);
    box-shadow: var(--card-shadow);
}

.top-news:hover .news-title {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}


.news-img{
    width: 100%;
    object-fit: cover;
    border-radius: 7.5px;
}

.news-title{
    position: absolute;
    border-radius: inherit;
    bottom: 0px;
    left: 1px;
    right: 1px;
    padding:  1em;
    font-size: 2vw;
    background-image: linear-gradient(to top, var(--background-light), transparent);

}

.news-title h2{
    font-size: 4vw;

}

/*Top 3*/
.top3 {
    flex-shrink: 2;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.top3-drivers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.top3 h2 {
    text-align: center;
    color: var(--accent);
    font-size: 50px;

}
.top3 h2:first-child{
    text-decoration: underline;
    text-decoration-color: var(--text);
}


/* Footer */

footer {
    flex:  0 0 var(--footer-heaght);
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 1.6rem;
}

footer a {
    text-decoration: none;
    color: var(--text);
}

.foot-container {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    border-top: solid var(--background-light);
    gap: 2em;
    flex-wrap: wrap;
}

footer #title {
    text-decoration: none;
    flex: 1;
}

.foot-nav-myself {
    flex: 2;
    display: flex;
    gap: 1em;
    justify-content: space-around;
}

.foot-nav-myself a:hover {
    text-decoration: underline var(--accent);
}

.foot-nav-myself h3 {
    text-decoration: underline;
    margin-bottom: 1em;
}

.nav-container,
.myself-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.myself-links {
    flex-direction: column;
}

.nav-container a {
    min-width: 30%;
}

footer h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.in_construction{
    overflow: hidden;
    & h1{
        text-align: center;
    }
}

@media screen and (max-width: 1655px) {
    .top3{
        margin: auto;
    }

    .top3-drivers {
        flex-direction: row;
        justify-content: center;
    }
  }

  @media screen and (max-width: 1200px) {

    .top-news{
        min-width: 0px;

    }

    .driver-card{
        width: auto;

    }

  }
  @media screen and (max-width: 600px) {

    .news-title{
        position:initial;

    }
    .top-news{
        flex-direction: column;
    }

    .news-title h2{
        font-size: 38px;

    }
    .news-title h3{
        font-size: 20px;

    }


  }


/* Animation */

@keyframes open-hamburgerTop {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(25deg);
    }
}
@keyframes close-hamburgerTop {
    from{
        transform: rotate(25deg);

    }
    to{
        transform: rotate(0deg);
    }
}



