.team_1--text {
    color: var(--Ferrari);
}

.team_1--background {
    background-color: var(--Ferrari);
}

.team_1--fill {
    fill: var(--Ferrari);
}
.team_1--border {
    border: solid 2px var(--Ferrari);
    box-shadow: 0px 0px 3rem 0px var(--Ferrari);
    transition: 0.5s;
}

.team_1--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Ferrari);
}
.team_1--textStoke {
    -webkit-text-stroke: 0.2rem var(--Ferrari);
}
.team_1--stroke {
    stroke: var(--Ferrari);
}

.team_1--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Ferrari), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Ferrari), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Ferrari), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Ferrari), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Ferrari), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Ferrari), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Ferrari--accent);
    }
}

.team_2--text {
    color: var(--Red-Bull);
}

.team_2--background {
    background-color: var(--Red-Bull);
}

.team_2--fill {
    fill: var(--Red-Bull);
}

.team_2--border {
    border: solid 2px var(--Red-Bull);

    box-shadow: 0px 0px 3rem 0px var(--Red-Bull);
}

.team_2--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Red-Bull);
}
.team_2--textStoke {
    -webkit-text-stroke: 0.2rem var(--Red-Bull);
}
.team_2--stroke {
    stroke: var(--Red-Bull);
}
.team_2--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Red-Bull), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Red-Bull), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Red-Bull), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Red-Bull), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Red-Bull), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Red-Bull), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Red-Bull--accent);
    }
}

.team_3--text {
    color: var(--Aston-Martin);
}

.team_3--background {
    background-color: var(--Aston-Martin);
}

.team_3--fill {
    fill: var(--Aston-Martin);
}
.team_3--border {
    border: solid 2px var(--Aston-Martin);

    box-shadow: 0px 0px 3rem 0px var(--Aston-Martin);
}
.team_3--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Aston-Martin);
}
.team_3--textStoke {
    -webkit-text-stroke: 0.2rem var(--Aston-Martin);
}
.team_3--stroke {
    stroke: var(--Aston-Martin);
}

.team_3--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Aston-Martin), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Aston-Martin), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Aston-Martin), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Aston-Martin), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Aston-Martin), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Aston-Martin), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Aston-Martin--accent);
    }
}

.team_4--text {
    color: var(--Mercedes);
}

.team_4--background {
    background-color: var(--Mercedes);
}

.team_4--fill {
    fill: var(--Mercedes);
}

.team_4--border {
    border: solid 2px var(--Mercedes);

    box-shadow: 0px 0px 3rem 0px var(--Mercedes);
}
.team_4--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Mercedes);
}
.team_4--textStoke {
    -webkit-text-stroke: 0.2rem var(--Mercedes);
}
.team_4--stroke {
    stroke: var(--Mercedes);
}

.team_4--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Mercedes), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Mercedes), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Mercedes), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Mercedes), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Mercedes), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Mercedes), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Mercedes--accent);
    }
}

.team_5--text {
    color: var(--Alfa-Romeo);
}

.team_5--background {
    background-color: var(--Alfa-Romeo);
}

.team_5--fill {
    fill: var(--Alfa-Romeo);
}
.team_5--border {
    border: solid 2px var(--Alfa-Romeo);

    box-shadow: 0px 0px 3rem 0px var(--Alfa-Romeo);
}
.team_5--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Alfa-Romeo);
}
.team_5--textStoke {
    -webkit-text-stroke: 0.2rem var(--Alfa-Romeo);
}
.team_5--stroke {
    stroke: var(--Alfa-Romeo);
}

.team_5--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Alfa-Romeo), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Alfa-Romeo--accent);
    }
}

.team_6--text {
    color: var(--Alpine);
}

.team_6--background {
    background-color: var(--Alpine);
}

.team_6--fill {
    fill: var(--Alpine);
}
.team_6--border {
    border: solid 2px var(--Alpine);

    box-shadow: 0px 0px 3rem 0px var(--Alpine);
}
.team_6--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Alpine);
}

.team_6--textStoke {
    -webkit-text-stroke: 0.2rem var(--Alpine);
}
.team_6--stroke {
    stroke: var(--Alpine);
}

.team_6--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Alpine), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Alpine), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Alpine), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Alpine), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Alpine), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Alpine), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Alpine--accent);
    }
}


.team_7--text {
    color: var(--Williams);
}

.team_7--background {
    background-color: var(--Williams);
}

.team_7--fill {
    fill: var(--Williams);
}
.team_7--border {
    border: solid 2px var(--Williams);

    box-shadow: 0px 0px 3rem 0px var(--Williams);
}
.team_7--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Williams);
}

.team_7--textStoke {
    -webkit-text-stroke: 0.2rem var(--Williams);
}
.team_7--stroke {
    stroke: var(--Williams);
}

.team_7--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Williams), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Williams), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Williams), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Williams), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Williams), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Williams), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Williams--accent);
    }
}

.team_8--text {
    color: var(--AlphaTauri);
}

.team_8--background {
    background-color: var(--AlphaTauri);
}

.team_8--fill {
    fill: var(--AlphaTauri);
}
.team_8--border {
    border: solid 2px var(--AlphaTauri);

    box-shadow: 0px 0px 3rem 0px var(--AlphaTauri);
}
.team_8--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--AlphaTauri);
}
.team_8--textStoke {
    -webkit-text-stroke: 0.2rem var(--AlphaTauri);
}
.team_8--stroke {
    stroke: var(--AlphaTauri);
}

.team_8--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--AlphaTauri), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--AlphaTauri), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--AlphaTauri), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--AlphaTauri), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--AlphaTauri), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--AlphaTauri), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--AlphaTauri--accent);
    }
}

.team_9--text {
    color: var(--Hass);
}

.team_9--background {
    background-color: var(--Hass);
}

.team_9--fill {
    fill: var(--Hass);
}
.team_9--border {
    border: solid 2px var(--Hass);

    box-shadow: 0px 0px 3rem 0px var(--Hass);
}
.team_9--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Hass);
}
.team_9--textStoke {
    -webkit-text-stroke: 0.2rem var(--Hass);
}
.team_9--stroke {
    stroke: var(--Hass);
}

.team_9--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Hass), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Hass), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Hass), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Hass), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Hass), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Hass), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Hass--accent);
    }
}

.team_10--text {
    color: var(--Mclaren);
}

.team_10--background {
    background-color: var(--Mclaren);
}

.team_10--fill {
    fill: var(--Mclaren);
}
.team_10--border {
    border: solid 2px var(--Mclaren);

    box-shadow: 0px 0px 3rem 0px var(--Mclaren);
}
.team_10--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Mclaren);
}
.team_10--textStoke {
    -webkit-text-stroke: 0.2rem var(--Mclaren);
}
.team_10--stroke {
    stroke: var(--Mclaren);
}

.team_10--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Mclaren), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Mclaren), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Mclaren), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Mclaren), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Mclaren), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Mclaren), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Mclaren--accent);
    }
}

.team_11--text {
    color: var(--Stake-F1);
}

.team_11--background {
    background-color: var(--Stake-F1);
}

.team_11--fill {
    fill: var(--Stake-F1);
}
.team_11--border {
    border: solid 2px var(--Stake-F1);

    box-shadow: 0px 0px 3rem 0px var(--Stake-F1);
}
.team_11--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Stake-F1);
}
.team_11--textStoke {
    -webkit-text-stroke: 0.2rem var(--Stake-F1);
}
.team_11--text {
    color: var(--Stake-F1);
}

.team_11--background {
    background-color: var(--Stake-F1);
}

.team_11--stroke {
    stroke: var(--Stake-F1);
}
.team_11--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Stake-F1), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Stake-F1), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Stake-F1), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Stake-F1), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Stake-F1), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Stake-F1), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Stake-F1--accent);
    }
}

.team_12--fill {
    fill: var(--Visa-RB);
}
.team_12--border {
    border: solid 2px var(--Visa-RB);

    box-shadow: 0px 0px 3rem 0px var(--Visa-RB);
}
.team_12--border:hover {
    box-shadow: 0px 0px 3rem 5px var(--Visa-RB);
}
.team_12--textStoke {
    -webkit-text-stroke: 0.2rem var(--Visa-RB);
}
.team_12--background {
    background-color: var(--Visa-RB);
}
.team_12--stroke {
    stroke: var(--Visa-RB);
}
.team_12--text {
    color: var(--Visa-RB);
}

.team_12--boxes {
    & .driver_box--topleft {
        background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--Visa-RB), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomleft {
        background: linear-gradient(
            455deg,
            color-mix(in srgb, var(--Visa-RB), transparent 60%),
            #00000077
        );
    }
    & .driver_box--topright {
        background: linear-gradient(
            225deg,
            color-mix(in srgb, var(--Visa-RB), transparent 60%),
            #00000077
        );
    }
    & .driver_box--right {
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--Visa-RB), transparent 60%),
            #00000077
        );
    }
    & .driver_box--bottomright {
        background: linear-gradient(
            310deg,
            color-mix(in srgb, var(--Visa-RB), transparent 60%),
            #00000077
        );
    }
    & .driver_box--center {
        background: radial-gradient(
            #00000077,
            color-mix(in srgb, var(--Visa-RB), transparent 80%)
        );
    }
    & .driver_box{
        border: solid 1px var(--Visa-RB--accent);
    }
}
