* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background: #242124;
    --background-light: #464046;
    --text: #fefefa;
    --accent: #68fe9a;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Golos Text", sans-serif;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}
a {
    color: blue;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent);
}

#title h2 {
    font-weight: 400;
    font-size: 36px;
}
#title h2:last-child {
    text-decoration: underline;
}

.nav-links {
    mix-blend-mode: difference;
    font-size: 20px;

}
