/* Initialisation */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background: #242124;
    --background-light: #464046;
    --text: #fefefa;
    --accent: #68fe9a;

    --header-height: 8em;
    --footer-heaght: 12em;

}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Golos Text", sans-serif;
}


/* Header */

header {
    
    top: 0px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--header-height);
    z-index: 1;
    background-color: var(--background);
    
}

header a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}



#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent);
    min-width: 260px;
    justify-self: center;
}

#title h2 {
    font-weight: 400;
    font-size: 36px;
}
#title h2:last-child {
    text-decoration: underline;
}

.nav-links {
    mix-blend-mode: difference;
    font-size: 20px;
}

.nav-links:hover {
    text-decoration: underline var(--accent);
}
.hamburger{
    display: none;
}
@media screen and (max-width: 800px) {
    .nav-links{
        display: none;
    }
header{
    justify-content: center;
    position: relative;
    padding: 1em;
}

    .hamburger{
        display:grid;
        top: 1em;
        place-items: center;
        position: absolute;
        right: 1em;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        height: 55px;
        aspect-ratio: 1/1;
        z-index: 2;
    }
    .open-hamburger{
        position: fixed;
    }

    .hamburger-main{
        width: 35px;
        height: 2px;
        background-color: var(--text);
        
        position: relative;
        
    }
    .hamburger-main::after{
        position: absolute;
        background-color: inherit;
        content: "";
        top: 10px;
        width: inherit;
        height: inherit;
        left: 0px;
        z-index: 10;
    }

    .hamburger:hover .hamburger-main{
        background-color: var(--accent);
    }


    .open-hamburger .hamburger-main {
        animation: open-hamburgerTop forwards 1s;
    }

    .closed-hamburger .hamburger-main {
        animation: close-hamburgerTop forwards 1s;
    }
   
  }
/* main */

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-heaght));
}
.top-left{
    position: absolute;
    top: -2.5vw;
    left: .5em;
    color: var(--accent);
    font-size: 5vw;
    font-weight: 700;
}

/* News and top 3 */

#News-Top3 {
    display: flex;
    padding: 2em 3em;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

/* News */

.top-news  {
    background-color: var(--background-light);
    position: relative;
    flex: 3;
    padding: 0.5em;
    border-radius: 15px;
    aspect-ratio: 16/9;
    flex-shrink: 0;
    min-width: 1000px;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    color: var(--text);
}

.top-news:hover .news-title {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}


.news-img{
    width: 100%;
    object-fit: cover;
    border-radius: 7.5px;
}

.news-title{
    position: absolute;
    border-radius: inherit;
    bottom: 0px;
    left: 1px;
    right: 1px;
    padding:  1em;
    font-size: 2vw;
    background-image: linear-gradient(to top, var(--background-light), transparent);  

}

.news-title h2{
    font-size: 4vw;
    
}

/*Top 3*/
.top3 {
    flex-shrink: 2;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.top3-drivers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.top3 h2 {
    text-align: center;
    color: var(--accent);
    font-size: 50px;
    
}
.top3 h2:first-child{
    text-decoration: underline;
    text-decoration-color: var(--text);
}


/* Footer */

footer {
    padding: 0 3em;
    min-height: var(--footer-heaght);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

footer a {
    text-decoration: none;
    color: var(--text);
}

.foot-container {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    border-top: solid var(--background-light);
    gap: 2em;
    flex-wrap: wrap;
}

footer #title {
    text-decoration: none;
    flex: 1;
}

.foot-nav-myself {
    flex: 2;
    display: flex;
    gap: 1em;
    justify-content: space-around;
}

.foot-nav-myself a:hover {
    text-decoration: underline var(--accent);
}

.foot-nav-myself h3 {
    text-decoration: underline;
    margin-bottom: 1em;
}

.nav-container,
.myself-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.myself-links {
    flex-direction: column;
}

.nav-container a {
    min-width: 30%;
}

footer h4 {
    text-align: center;
}

@media screen and (max-width: 1655px) {
    .top3{
        margin: auto;
    }

    .top3-drivers {
        flex-direction: row;
        justify-content: center;
    }
  }

  @media screen and (max-width: 1200px) {
    
    .top-news{
        min-width: 0px;
        
    }

    .driver-card{
        width: auto;
    }
   
  }
  @media screen and (max-width: 600px) {
    
    .news-title{
        position:initial;

    }
    .top-news{
        flex-direction: column;
    }

    .news-title h2{
        font-size: 38px;
        
    }
    .news-title h3{
        font-size: 20px;
        
    }

    
  }


/* Animation */

@keyframes open-hamburgerTop {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(25deg);
    }
}
@keyframes close-hamburgerTop {
    from{
        transform: rotate(25deg);

    }
    to{
        transform: rotate(0deg);
    }
}



