/* Initialisation */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background: #242124;
    --background-light: #464046;
    --text: #fefefa;
    --accent: #68fe9a;

    --header-height: 8em;
    --footer-heaght: 12em;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Golos Text", sans-serif;
}

a {
    color: blue;
}
/* Header */

header {
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--header-height);
}

header a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent);
    min-width: 260px;
}

#title h2 {
    font-weight: 400;
    font-size: 36px;
}
#title h2:last-child {
    text-decoration: underline;
}

.nav-links {
    mix-blend-mode: difference;
    font-size: 20px;
}

.nav-links:hover {
    text-decoration: underline var(--accent);
}
/* main */

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-heaght));
}

/* Footer */

footer {
    padding: 0 3em;
    min-height: var(--footer-heaght);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

footer a {
    text-decoration: none;
    color: var(--text);
}

.foot-container {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    border-top: solid var(--background-light);
    gap: 1em;
    flex-wrap: wrap;
}

footer #title {
    text-decoration: none;
    flex: 1;
}

.foot-nav-myself {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.foot-nav-myself a:hover{
    text-decoration: underline var(--accent);
}

.foot-nav-myself h3 {
    text-decoration: underline;
    margin-bottom: 1em;
}

.nav-container,
.myself-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.myself-links {
    flex-direction: column;
}

.nav-container a {
    min-width: 30%;
}

footer h4 {
    text-align: center;
}
